{{#if addNewQuestion}}
<h1>Post Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Brief Question:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">Your Name:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="notes">Question Details:</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'saveQuestion'}}>Save</button>
    </form>
  </div>
{{else}}
<button {{action 'questionFormShow'}}>Add Question</button>
{{/if}}
